section {
  display: flex;
  justify-content: center;
  align-items: center; }

.heroSection {
  flex-direction: column;
  height: 100vh;
  background-color: #adcbe3;
  background-image: url("../images/unicorn.svg");
  background-size: 50%;
  background-position: -10px 101%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

section.myself {
  height: 300px;
  background: #fff4e6; }
