/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-size: calc(18px + (22 - 18) * (100vw - 960px) / (1920 - 960));
  font-weight: 300;
  color: rgba(42, 77, 105, 0.9);
  max-width: 1920px; }

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem; }

h1, .h1 {
  font-size: 4em;
  font-weight: 700;
  color: #2a4d69; }

h2, .h2 {
  font-size: 2em; }

h3, .h3 {
  font-size: 1.5em; }

p {
  margin-bottom: .5em; }

.link {
  position: relative;
  text-decoration: none;
  color: inherit; }
  .link::before, .link::after {
    content: '';
    position: absolute;
    height: calc(100% + 1em);
    width: calc(100% + 1em);
    max-width: 0%;
    max-height: 0%;
    transition: max-height .2s ease-out, max-width .2s .2s ease-out, border-color .2s .2s; }
  .link::before {
    top: -.5em;
    left: -.5em;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent; }
  .link::after {
    bottom: -.5em;
    right: -.5em;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent; }
  .link:hover::before, .link:hover::after {
    max-width: calc(100% + 1em);
    max-height: 100%;
    border-color: #2a4d69;
    transition: max-width .2s ease-out, max-height .2s .2s ease-out, border-color .2s; }

.creamColor {
  color: #fff4e6; }

.container {
  max-width: 90%;
  margin: 0 auto; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

header {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  transition: background-color .2s ease-out, color .2s ease-out; }
  header.opaque {
    background-color: rgba(173, 203, 227, 0.9); }

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2em;
  padding: 1em 0;
  font-size: .8em;
  font-weight: 400;
  text-transform: uppercase; }
  .navbar li {
    display: inline-block;
    padding: 0 1em; }

#heroSection {
  flex-direction: column;
  height: 100vh;
  background-color: #4b86b4;
  background-image: url("../images/unicorn.svg");
  background-size: auto 75%;
  background-position: -10px 101%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#myself {
  display: inherit;
  padding-top: 5em;
  padding-bottom: 1.5em;
  background: #e7eff6;
  text-align: center; }

#portfolio .case {
  position: relative;
  width: 50%;
  height: 400px;
  overflow: hidden; }

#portfolio .slidor {
  background-color: #120d21; }

#portfolio .krl,
#portfolio .divn {
  background-color: white; }

#portfolio .novagray {
  background-color: #0098ff; }

#portfolio .inser {
  background-color: #141414; }

#portfolio .caseLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 100%;
  transition: max-width .4s, top .4s; }

#portfolio .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  color: #fff4e6;
  background-color: #2a4d69;
  box-shadow: transparent 0 0 50px;
  transform: translateY(100%);
  transition: .3s ease-out; }

#portfolio .case:hover .details {
  transform: translateY(0%);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px; }

#portfolio .case:hover .caseLogo {
  max-width: 350px;
  top: 25%; }

#portfolio .case.inser .caseLogo {
  max-width: 200px; }

#portfolio .case.inser:hover .caseLogo {
  max-width: 230px; }

#portfolio .techs {
  margin-bottom: 0; }

#portfolio #short {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  #portfolio #short .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%; }
  #portfolio #short .shortDiv {
    width: 33.33333%;
    display: inline-block;
    margin-left: -.5rem;
    margin-right: -.5rem; }
  #portfolio #short .counter {
    position: relative;
    font-size: 5em;
    padding: 1rem; }
    #portfolio #short .counter img {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%; }

footer {
  background: #1b3245;
  color: #fff4e6;
  font-size: .6em;
  padding-bottom: 1em;
  padding-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px inset; }
