/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-size: calc(18px + (22 - 18) * (100vw - 960px) / (1920 - 960));
  line-height: 1.4em;
  font-weight: 300;
  color: #2a4d69;
  max-width: 1920px; }

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 1em; }

h1, .h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: .1em;
  color: #2a4d69; }

h2, .h2 {
  font-size: 2em;
  letter-spacing: .05em; }

h3, .h3 {
  font-size: 1.5em; }

p {
  margin-bottom: .5em; }

.link {
  position: relative;
  text-decoration: none;
  color: inherit; }
  .link::before, .link::after {
    content: '';
    position: absolute;
    height: calc(100% + 1em);
    width: calc(100% + 1em);
    max-width: 0%;
    max-height: 0%;
    -webkit-transition: max-height .2s ease-out, max-width .2s .2s ease-out, border-color .25s .2s;
    transition: max-height .2s ease-out, max-width .2s .2s ease-out, border-color .25s .2s; }
  .link::before {
    top: -.5em;
    left: -.5em;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent; }
  .link::after {
    bottom: -.5em;
    right: -.5em;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent; }
  .link:hover::before, .link:hover::after {
    max-width: calc(100% + 1em);
    max-height: 100%;
    border-color: #2a4d69;
    -webkit-transition: max-width .2s ease-out, max-height .2s .2s ease-out, border-color .2s;
    transition: max-width .2s ease-out, max-height .2s .2s ease-out, border-color .2s; }

p .link {
  color: #4b86b4; }

.creamColor {
  color: #fff4e6; }

.lowercase {
  text-transform: none; }

.container {
  width: 90%;
  margin: 0 auto; }

@media (min-width: 992px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

section .container {
  max-width: 960px; }

.classicSection {
  display: inherit;
  padding-top: 5em;
  padding-bottom: 5em;
  background: #e7eff6;
  text-align: center; }

header {
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  -webkit-transition: background-color .2s ease-out, box-shadow .2s ease-out, color .2s ease-out;
  transition: background-color .2s ease-out, box-shadow .2s ease-out, color .2s ease-out; }
  header.opaque {
    background-color: rgba(42, 77, 105, 0.85);
    box-shadow: 0 0 1em rgba(42, 77, 105, 0.5); }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  padding: 1em 0;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase; }
  .navbar li {
    display: inline-block;
    padding: 0 1em; }
  @media (min-width: 768px) {
    .navbar {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

#heroSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4b86b4;
  background-image: url("../images/unicorn.svg");
  background-size: auto 75%;
  background-position: -10px 101%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }

#myself {
  padding-bottom: 1.5em; }
  #myself p:last-of-type {
    margin-top: 3em; }
    @media (min-width: 992px) {
      #myself p:last-of-type {
        margin-top: 5em; } }

#portfolio {
  background-color: #fff4e6; }
  #portfolio .case {
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    text-align: center;
    border-top: solid 1px rgba(42, 77, 105, 0.25); }
    @media (min-width: 992px) {
      #portfolio .case {
        padding-top: 0em;
        padding-bottom: 0em;
        width: 50%;
        height: 400px;
        overflow: hidden; } }
  #portfolio .slidor {
    background-color: #120d21; }
  #portfolio .krl,
  #portfolio .divn {
    background-color: white; }
    #portfolio .krl .details,
    #portfolio .krl .link,
    #portfolio .divn .details,
    #portfolio .divn .link {
      color: #2a4d69; }
      @media (min-width: 992px) {
        #portfolio .krl .details,
        #portfolio .krl .link,
        #portfolio .divn .details,
        #portfolio .divn .link {
          color: #fff4e6; } }
  #portfolio .novagray {
    background-color: #0098ff; }
  #portfolio .inser {
    background-color: #141414; }
  #portfolio .caseLogo {
    max-width: 300px;
    margin: 0 auto 4em auto; }
    @media (min-width: 992px) {
      #portfolio .caseLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        max-height: 100%;
        -webkit-transition: max-width .4s, top .4s;
        transition: max-width .4s, top .4s; } }
  #portfolio .details {
    text-align: center;
    color: #fff4e6;
    box-shadow: transparent 0 0 25px; }
    #portfolio .details h3 {
      display: inline-block;
      color: #e7eff6; }
      #portfolio .details h3 .link:hover::before,
      #portfolio .details h3 .link:hover::after {
        border-color: #4b86b4; }
    @media (min-width: 992px) {
      #portfolio .details {
        padding-top: 2em;
        padding-bottom: 2em;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #2a4d69;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out; } }
  @media (min-width: 992px) {
    #portfolio .case:hover .details {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 25px; }
    #portfolio .case:hover .caseLogo {
      top: 25%; } }
  #portfolio .case.inser .caseLogo {
    max-width: 200px; }
  #portfolio .techs {
    margin-bottom: 0; }
  #portfolio #short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    #portfolio #short .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 90%; }
    #portfolio #short .shortDiv {
      width: 33.33333%;
      display: inline-block;
      margin-left: -.5rem;
      margin-right: -.5rem; }
      #portfolio #short .shortDiv h3 {
        margin-bottom: 0; }
    #portfolio #short .counter {
      z-index: 2;
      position: relative;
      font-size: 5em;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 20px; }
      #portfolio #short .counter img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%; }
  #portfolio #rainbow {
    opacity: .8; }

#contact .link {
  font-weight: 400; }

footer {
  background: #1b3245;
  color: #fff4e6;
  font-size: .6em;
  padding-bottom: 1em;
  padding-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px inset; }
