doctype html
html(lang='en')
  head
    <!--[if lte IE 9]>
    script window.href.location = '//outdatedbrowser.com/en'
    <![endif]-->
    <!--[if IE 10]>
    script window.href.location = '//outdatedbrowser.com/en'
    <![endif]-->
    meta(charset='utf-8')
    meta(name='description', content='A small gallery of works from Antoine Payet')
    meta(name='author', content='Antoine Payet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Antoine Payet
    // Favicons
    link(rel='apple-touch-icon', sizes='180x180', href='images/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='images/manifest.json')
    link(rel='mask-icon', href='images/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-config', content='images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
  body
    header
        img.logo(src='./images/unicorn.svg', alt='Unicorn impaling a poor dude')
        nav.menu
            input#trigger.menu__consumerist-sandwich(type='checkbox', hidden)
            label(for='trigger')
            ul.menu__links
                li
                    a.link(href='#hi') Who cares
                li
                    a.link(href='#about') about
                li
                    a.link(href='#works') a summary
                li
                    a.link(href='#contact') ?
    main
        section.hero
            h1.hero__title Antoine Payet
                span.hero__subtitle Front-end developer
            div.tldr 
                p.tldr__content tl;dr: I am not good at design but love functional code.

        section
            h2#hi.anchor Hi, I'm Antoine. #[br] Nice to meet you !
            p My name is Antoine Payet and I have been working as a front-end developer in Paris for the past two years now.
            p From start-ups to ecommerce leaders, my mission is always to implement intuitive interfaces and provide the endless hordes of monkeys of the internet a flawless experience. 

        section
            h2#about.anchor My design choices might be rather... dubious
            p From an engineering background, I am not formally trained in designing interfaces, only in implementing them. 
            p That is why I feel more at ease working with a design team to feed me great arrangements of colored pixels to copy and ideas to steal from.
            p As time goes by, and experience grows, it feels like I can make much more sensible choices now than I could two years ago. I strive to make them better and better. 

        section
            h2 What can I do then ?
            p If left to myself, I tend to code things from scratch, and enjoy bringing ideas to life in the browser.
            div.columns
                div.column
                    h3.column__title Languages
                    ul.list
                        li HTML, Pug, ASP.NET
                        li CSS, SCSS
                        li JS (ES6), JQuery, just picked up Vue.js
                        li PHP, Symfony 2 (& Twig), MySQL
                        li Bootstrap, Wordpress
                div.column
                    h3.column__title Dev tools
                    ul.list
                        li Sublime Text, PHPStorm
                        li Gulp, webpack
                        li Git (#[a.link(href='//www.github.com/Licornichon', target='_blank', rel='noopener', title='link to www.github.com/Licornichon') Github] & CLI)
                        li #[a.link(href='//codepen.io/Licornichon/', target='_blank', rel='noopener', title='link to www.codepen.io/Licornichon/') Codepen], Webflow
                        li Zeplin (End-user only) 
                div.column
                    h3.column__title Want some more ?
                    ul.list
                        li French: native language
                        li English: professional level
                        li Hobbies include:
                            ul.list
                                li Painting
                                li Board games 
                                li Archery
                                li Everything fantasy related

        section
            h2#works.anchor Recent works
            ul.works
                li.works__item
                    a.company.aramisauto(href='//www.aramisauto.com', target='_blank', rel='noopener', title='link to www.aramisauto.com')
                        figure.company__container
                            img.company__logo(src='./images/aramisauto.svg', alt='aramisauto logo')
                            figcaption.company__caption Best seller of new and used cars on the internet in France
                li.works__item
                    a.company.slidor(href='//www.slidor.fr/', target='_blank', rel='noopener', title='link to www.slidor.fr/')
                        figure.company__container
                            img.company__logo(src='./images/slidor.svg', alt='slidor logo')
                            figcaption.company__caption Making breathtaking presentations in PowerPoint
                li.works__item 
                    a.company.kerala(href='//www.kerala.vc/', target='_blank', rel='noopener', title='link to www.kerala.vc/')
                        figure.company__container
                            img.company__logo(src='./images/krl.png', alt='kerala ventures logo')
                            figcaption.company__caption Backing entrepreneurs from day one
                li.works__item 
                    a.company.ned(href='//www.natureetdecouvertes.com', target='_blank', rel='noopener', title='link to www.natureetdecouvertes.com')
                        figure.company__container
                            img.company__logo(src='./images/ned.png', alt='nature et découvertes logo')
                            figcaption.company__caption Teaching how to respect nature while enjoying it

        section.contact
            h2#contact.anchor Any of this caught your attention ?
            p Perhaps you would like to send me a message via #[a.link(href='//fr.linkedin.com/in/antoine-payet-0013aa98', target='_blank', rel='noopener', title='personal LinkedIn account') LinkedIn] for any further details ?
            p.small  #[em I don't really give my email until the third date.]

    footer
        p.small
            em Design choices and philosophy heavily influenced by this #[a.link(href='//motherfuckingwebsite.com/', target='_blank', rel='noopener', title='link to https://motherfuckingwebsite.com/') mother f*cking website]. Beware, strong language.
