doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='A small gallery of works from Antoine Payet')
    meta(name='author', content='Antoine Payet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Antoine Payet
    // Favicons
    link(rel='apple-touch-icon', sizes='180x180', href='images/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='images/manifest.json')
    link(rel='mask-icon', href='images/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-config', content='images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
  body
    section.hero
        h1.hero__title Antoine Payet
            span.hero__subtitle Développeur Front-End

    section.experience
        .col.content
            .experience__content
                h3.experience__focus focus.
                h2.experience__title.aramis 
                    |Lorem
                    br
                    |ipsum dolor

                p.experience__desc 
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
        .col.bg.aramis

    section.experience
        .col.content
            .experience__content
                h3.experience__focus focus.
                h2.experience__title.slidor 
                    |Lorem
                    br
                    |ipsum dolor

                p.experience__desc 
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
        .col.bg.slidor

    section.experience
        .col.content
            .experience__content
                h3.experience__focus focus.
                h2.experience__title.nature 
                    |Lorem
                    br
                    |ipsum dolor

                p.experience__desc 
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
        .col.bg.nature

    section.experience
        .col.content
            .experience__content
                h3.experience__focus focus.
                h2.experience__title.kerala 
                    |Lorem
                    br
                    |ipsum dolor

                p.experience__desc 
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
        .col.bg.kerala