.aramis {
	color: #1a587e
}

.slidor {
	color: #120d21
}

.nature {
	color: #859b6b
}

.kerala {
	color: #d67923
}

.various {
	color: #b78557
}

.codepen {
	color: #4841ff
}

.mario {
	background-image: url('../images/companies/mario.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}