.experience {
	&__title {
		margin: 2rem 0 4rem;

		.external-link {
			padding: 1rem;
		}
	}

	&__focus {
		&::after {
			background-color: $black;
			content: '';
			display: block;
			height: 4px;
			width: 2rem;
		}
	}

	&__desc {
		& + & {
			margin-top: 2rem;
		}
	}

	&__img {
		&,
		& img {
			width: 100%;
		}
	}
}

.col {
	&.content {
		padding: 1rem;
	}
	
	&.bg {
		position: relative;
		overflow: hidden;
	}
}

@include media($l) {
	.experience {
		display: flex;

		&__desc {
			width: 35rem;
		}


		&__img {
			height: 100%;
			left:50%;
			position: absolute;
			top:0;
			transform: translateX(-50%);
			width: auto;

			img {
				height: 100%;
				width: auto;
			}
		}
	}

	.col {
		display: flex;
		flex: 0 0 50%;
		flex-direction: column;
		justify-content: center;

		&.content {
			padding: 5rem;
		}

		.experience:nth-of-type(2n+4) & {
			align-items: flex-end;
		}

		.experience:nth-of-type(2n+1) & {
			&.bg {
				order: 1;
			}
			&.content {
				order: 2;
			}
		}
	}
}