* {
	box-sizing: border-box;
}

body{
	color: $textColor;
	font-family: $fontText;
	font-size: $fontSize;
	font-weight: 400;
	height: 100vh;
	max-width: $uxl;
	line-height: $blh;
}

h1, h2, h3,
.h1, .h2, .h3{
	font-family: $fontTitle;
	font-weight: 700;
	line-height: 1.2;
}

h2, .h2{
	font-size: $h2;
}

h3, .h3{
	font-size: $h3;
}

section {
	height: 100%;
}