* {
	box-sizing: border-box;
}

body{
	background-color: $white;
	color: $black;
	font-family: $fontText;
	font-size: $fontSize;
	font-weight: 400;
	height: 100vh;
	line-height: $blh;
}

h1, h2, h3,
.h1, .h2, .h3{
	font-family: $fontTitle;
	font-weight: 700;
	line-height: 1.2;
}

h2, .h2{
	font-size: $h2;
}

h3, .h3{
	font-size: $h3;
}

.grey {
	color: $grey;
}

em {
	font-style: italic;
}

b {
	font-weight: 700;
}

$svgSize: $fontSize;
img[src$='.svg'] {
	height: $svgSize;
	width: $svgSize;
}

img {
	vertical-align: middle;
	transition: filter 1s;
}
img.lazyestload {
	filter: blur(8px);
}

.link {
	display: inline-block;
	position: relative; 
	transition: color .1s ease-out;

	&::before {
		background-color: $red;
		bottom: 0;
		content: '';
		display: block;
		height: .1em;
		left: -.1em;
		padding: 0 .1em;
		position: absolute;
		transition: height .1s ease-out;
		width: 100%;
		z-index: -1;
	}

	&:hover {
		color: white;

		&::before {
			height: $blh;
		}
	}
}

@keyframes beat {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.beating-heart {
	animation: beat .8s infinite;
}

@include media($l) {
	section {
		height: 100vh;
	}
}