.hero{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;

	&__title {
		font-size: 5rem;
		letter-spacing: .1em;
		margin-bottom: 1em;
	}

	&__subtitle {
		display: block;
		font-size: .5em;
		letter-spacing: .3em;
	}
}

.tldr {
	$timing: .15s;
	color: $grey;
	max-width: 80%;
	position: relative;
	transition: color $timing ease-out $timing;

	&::before,
	&::after {
		border: solid 1px $grey;
		content: '';
		height: 5em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 1rem;
	}

	&::before {
		border-right: 0;
		right: calc(100% + 1rem);
		transition: right $timing ease-in-out;
	}

	&::after {
		border-left: 0;
		left: calc(100% + 1rem);
		transition: left $timing ease-in-out;
	}

	&.hidden {
		color: transparent;
		transition: color $timing ease-out;

		&::before {
			right: calc(50% + 1rem);
			transition: right $timing ease-in-out $timing;
		}

		&::after {
			left: calc(50% + 1rem);
			transition: left $timing ease-in-out $timing;
		}
	}

	span {
		display: inline-block;
		min-height: $blh;
	}
}