@use 'variables' as *;

.page-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: $color-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__gif {
    width: 80px;
    height: 80px;
    object-fit: contain;

    // Placeholder visible tant que le gif n'existe pas
    &[src$='loader.gif']:not([src='']) {
      background: repeating-linear-gradient(
        -45deg,
        $color-bg-lighter 0px,
        $color-bg-lighter 6px,
        $color-border  6px,
        $color-border  12px
      );
    }
  }
}
